.navbar {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 20px;
    background-color: white;
    color: black;
}

.navbar .leftSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    padding-left: 50px;
    font-size: 32px;
}

.rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide div {
    margin: 10px;
}

.rightSide {
    flex: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.rightSide a {
    text-decoration: none; /* Remove underline from link */
    flex: 20%;
    height: 100%;
    width: 50%;

}

.dropbtn {
    background-color: transparent;
    color: black;
    font-size: 16px;
    border: none;
    cursor: pointer;
    padding: 0;
}
  
/* The container <div> - needed to position the dropdown content */
.dropdown {
    position: relative;
    display: inline-block;

}

.dropbtn:hover {
    color: darkgray;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
  
/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    
}
  
/* Change color of dropdown links on hover */

  
/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
    display: block;
}
  
.dropdown-content a:hover {background-color: #f1f1f1} 